# This is a basic workflow to help you get started with Actions

name: Validate index.json

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Validate JSON syntax of index.json
      - name: Validate syntax
        run: python3 -m json.tool index.json

      # Install cfbs
      - name: Install cfbs
        run: pip3 install cfbs

      # Check if index.json needs formatting
      - name: Check formatting
        run: cfbs --check pretty index.json

      # Validate index fields
      - name: Validate fields
        run: cfbs validate index.json
